body {
    margin: 0px;
    font-family: Arial, sans-serif;
}

main {
    margin-left: 20px;
    margin-right: 20px;
}

h1 {
    text-align: center;
    background-color: black;
    color: whitesmoke;
    padding: 10px;
}

.navbar {
    display: flex;
    background-color: #ddd;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.navbar li {
    flex: auto;
}

.navbar a {
    color: blueviolet;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color: brown;
}

.hero {
    background-color: #f0f0f0;
    text-align: center;
    padding: 50px 20px;
    margin-bottom: 20px;
    color: #333;
}
